% from bottle import default_app
% app = default_app()
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>import produce</title>
    <meta charset="utf-8" />
    <meta name="author" content="shell">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{app.config.get('basepath')}}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{app.config.get('basepath')}}/static/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="{{app.config.get('basepath')}}/static/css/style.css" />
  </head>
  <body>
    % include("nav.html")
    <div class="container">
      <form method="POST">
	<textarea rows="30" cols="50" name="data">{{'' if data is None else data}}</textarea>
	<button class="btn" type="submit">commit</button>
      </form>
    <script type="text/javascript" src="{{app.config.get('basepath')}}/static/js/jquery-1.10.2.min.js" charset="utf-8"></script>
    <script src="{{app.config.get('basepath')}}/static/js/bootstrap.min.js"></script>
  </body>
</html>
